
.main-container {
  width:100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-container p {
  font-size: 1.3rem;
}

.english-page {
  max-width: 900px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mood-board {
  width: 75%;
  max-width: 1200px;
  margin-bottom: 50px;
}

.about-me {
  display:flex;
  flex-direction: row;
  max-width: 1200px;
}

.about-me p {
  flex-direction: column;
  
}

.about-me img {
  height: 600px;
  margin-right: 45px;
}

.about-me .description {
  width: 700px;
  font-size: 18px;
}

#curation-project {
  width: 900px;
}
.curated-post {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}
.curated-post img {
  width: 400px;
  border-radius: 5px;
  height: fit-content;
  margin-right: 20px;
}