
.main-container {
  width:100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  
}
.mood-board {
  width: 75%;
  max-width: 1200px;
  margin-bottom: 50px;
}

iframe {
  width: 75%;
  max-width: 1200px;
}