@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&family=Open+Sans:wght@400;600;700&display=swap");
.landing-layout {
  height: 100%;
  width: 100%;
}

#portrait {
  height: 100vh;
  transform: scaleY(-1);
  position: absolute;
  top: -50px;
  right: -150px;
}

#gradient {
  background-image: linear-gradient(#d2f9fe, #8bbaef, #457ce0);
  width: 100%;
  position: fixed;
  bottom: 0px;
  height: 25vh;
  z-index: -1;
}

#welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  position: absolute;
  left: 60px;
  height: 100vh;
}
#welcome-container .navbar {
  position: absolute;
  top: 30px;
  display: block;
  margin-bottom: 50px;
}
#welcome-container .navbar a {
  font-family: "Open Sans", sans-serif;
  color: black;
  font-weight: 600;
  font-size: 35px;
  text-decoration: none;
}
#welcome-container .navbar .left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
#welcome-container .navbar .left a {
  margin-right: 115px;
}
#welcome-container #welcome {
  width: 600px;
}
#welcome-container #welcome h3 {
  margin-top: 0px;
  font-family: "Open Sans", sans-serif;
  color: black;
  font-size: 1.5rem;
  font-weight: normal;
}
#welcome-container #welcome h1 {
  margin: 0px;
  font-family: "Lora", serif;
  font-size: 4rem;
  color: black;
}

@media screen and (max-width: 1400px) {
  .landing-layout {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    height: 100%;
  }
  #welcome-container {
    position: unset;
    display: block;
    height: fit-content;
    margin: 20px 40px;
  }
  #welcome-container .navbar {
    position: unset;
    display: block;
  }
  #welcome-container .navbar .left {
    width: 100%;
    justify-content: space-around;
  }
  #welcome-container .navbar .left a {
    margin: 0px;
  }
  #welcome-container #welcome {
    width: 100%;
  }
  #portrait {
    position: sticky;
    display: block;
    width: 100vw;
    height: fit-content;
  }
  #gradient {
    position: relative;
    bottom: 92vw;
    height: 150vh;
  }
}
.post {
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  padding: 12.5px;
}
.post .date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  margin-top: 2px;
}
.post .date p {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: black;
}
.post h4 {
  margin: 0px;
  margin-top: 5px;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.3;
  color: black;
}
.post h3,
.post h1 {
  margin: 0px;
  font-family: "Lora", serif;
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 1.1;
  color: black;
}

.blog-tag {
  background-color: hsl(20, 11%, 45%);
  border-radius: 20px;
  padding: 5px 10px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 1.15rem;
  font-weight: 400;
  display: inline-block;
}

.blog-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}

.post-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(400px, 1fr));
  column-gap: 30px;
  grid-auto-rows: min-content;
  /* OR min-content*/
  justify-self: center;
  max-width: 1000px;
  max-height: inherit;
  margin-top: 15px;
}
.post-container .top {
  width: 100%;
  height: min-content;
  margin-bottom: 10px;
}
.post-container .top img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.post-container .featured-container {
  height: fit-content;
}
.post-container .list-container {
  width: 100%;
  overflow: auto;
  box-sizing: border-box;
  border-radius: 0px;
  background-color: #d7c9bb;
}

.blog-pagination {
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (max-width: 1000px) {
  .post-container {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
  .post-list {
    margin-top: 50px;
  }
}
/* custom scrollbar */
::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border: 4px solid transparent;
  background-clip: content-box;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: black;
}

.single-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  width: 100%;
}

.post-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  width: 750px;
  box-sizing: border-box;
}
.post-page #nav-parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  margin-bottom: 15px;
  color: black;
}
.post-page #nav-parent svg {
  margin-right: 5px;
  transform: scale(0.75);
}
.post-page #post-head {
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  padding: 12.5px;
  width: 750px;
  padding: 0px;
  margin-bottom: 15px;
}
.post-page #post-head .date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  margin-top: 2px;
}
.post-page #post-head .date p {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: black;
}
.post-page #post-head h4 {
  margin: 0px;
  margin-top: 5px;
  font-size: 1.4rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.3;
  color: black;
}
.post-page #post-head h3,
.post-page #post-head h1 {
  margin: 0px;
  font-family: "Lora", serif;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.1;
  color: black;
}
.post-page .post-img {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  min-width: 675px;
  margin-top: 30px;
  border-radius: 8px;
}

.next-prev {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  width: 100%;
  column-gap: 20px;
  margin-bottom: 20px;
}
.next-prev .button-style, .next-prev .section-prev, .next-prev .section-next {
  border-radius: 8px;
  border: 3px solid black;
  padding: 15px;
}
.next-prev .section-next {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.next-prev .section-next span {
  transform: scaleX(-1);
  margin-left: 15px;
}
.next-prev .section-prev {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
}
.next-prev .section-prev h3 {
  text-align: end;
}
.next-prev .section-prev p {
  text-align: end;
}
.next-prev .section-prev span {
  margin-right: 15px;
}
.next-prev .section-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  width: 50%;
}
.next-prev a p {
  margin: 0px;
}
.next-prev a h3 {
  margin: 0px;
  margin-top: 5px;
}

@media screen and (max-width: 750px) {
  .post-page {
    width: 100%;
  }
  .post-page #post-head {
    width: 100%;
  }
}
#journey-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  width: 100%;
}
#journey-container #journeys-multiple {
  display: grid;
  grid-template-columns: minmax(300px, 1.4fr) minmax(300px, 1fr);
  column-gap: 50px;
  justify-self: center;
  max-width: 1150px;
  height: fit-content;
}
#journey-container #journeys-multiple #project-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  height: 100%;
}
#journey-container #journeys-multiple #log-col {
  position: sticky;
  right: 0;
}

.project-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  padding: 12.5px;
  padding: 15px;
  margin-bottom: 10px;
  height: fit-content;
}
.project-card .date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  margin-top: 2px;
}
.project-card .date p {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.15rem;
  color: black;
}
.project-card h4 {
  margin: 0px;
  margin-top: 5px;
  font-size: 1.15rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.3;
  color: black;
}
.project-card h3,
.project-card h1 {
  margin: 0px;
  font-family: "Lora", serif;
  font-size: 1.7rem;
  font-weight: bold;
  line-height: 1.1;
  color: black;
}
.project-card .left {
  padding-right: 15px;
  padding-left: 10px;
}
.project-card .right {
  height: 175px;
}
.project-card .journey-img {
  height: 100%;
  aspect-ratio: 6/5;
  border-radius: 8px;
  object-fit: cover;
}
.project-card .star-icon {
  height: 30px;
  position: relative;
  top: 3px;
  right: -6.5px;
}
.project-card h4 {
  margin-bottom: 10px;
}

@media screen and (max-width: 900px) {
  #journey-container #journeys-multiple {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
  .project-card {
    padding: 10px 3px;
  }
}
@media screen and (max-width: 400px) {
  .right {
    width: 40%;
  }
}
#journey-single-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  box-sizing: border-box;
}

#journey-single-grid {
  display: grid;
  grid-template-columns: minmax(300px, 750px) minmax(300px, 1fr);
  column-gap: 20px;
  justify-self: center;
  max-width: 1200px;
  column-gap: 40px;
  padding-bottom: 50px;
}

#description-col img {
  object-fit: cover;
  border-radius: 8px;
}

#summary-container #title {
  margin: 0px;
  line-height: 1;
  font-size: 2.5rem;
}
#summary-container #title .star-icon {
  margin-left: 10px;
  max-width: 2rem;
  max-height: 2rem;
}
#summary-container #date {
  margin: 0px;
  line-height: 1;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Lora", serif;
}
#summary-container p {
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 10px 0px;
}
#summary-container #inducted {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 10px;
}
#summary-container #inducted div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
}
#summary-container #inducted div span {
  height: 2rem;
  margin-left: 5px;
}
#summary-container #status {
  font-size: 1.5rem;
}
#summary-container #links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  row-gap: 15px;
  margin-bottom: 25px;
}
#summary-container #links a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 10px;
}

@media screen and (max-width: 1185px) {
  #journey-single-container #journey-single-grid {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
  /* Flip the order of the elements in the grid for vertical layout*/
  #description-col {
    order: 2;
  }
  #summary-container {
    order: 1;
  }
  #summary-container #inducted {
    margin: 0px;
  }
}
@media screen and (max-width: 750px) {
  #journey-single-container {
    margin: 0px 10px;
  }
  #description-col {
    width: 100%;
  }
  #summary-container {
    width: 100%;
  }
  #summary-container #links {
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
  }
}
#all-log-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  border-radius: 10px;
  margin-bottom: 22.5px;
}
#all-log-container h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 600px;
  color: black;
  margin: 0px;
}
#all-log-container .log {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  margin-bottom: 0px;
  margin-top: 10px;
  padding: 15px;
}
#all-log-container .log img {
  margin-bottom: 5px;
  width: 100%;
}
#all-log-container .log iframe {
  margin-bottom: 5px;
  border-radius: 8px;
}
#all-log-container .log-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}
#all-log-container .log-container h3 {
  width: 100%;
  margin: 0px;
  line-height: 1.25;
  font-family: "Lora", serif;
  font-size: 1.4rem;
  color: black;
  font-weight: 600;
}
#all-log-container .log-container span {
  font-family: "Open Sans", sans-serif;
  color: #855546;
  font-weight: 800;
}
#all-log-container .log-container h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.15rem;
  color: black;
  line-height: 1.3;
  margin: 0px;
  font-weight: 400;
  margin: 0px;
}
#all-log-container .log-container .info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  width: 100%;
}
#all-log-container .log-container .date-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 7px;
  font-size: 1.15rem;
}

@media screen and (max-width: 400px) {
  #log-container {
    padding: 2.5px;
  }
  #log-container .log {
    padding: 5px;
    margin-bottom: 5px;
  }
  #log-container .log .info-container h3 {
    margin-bottom: 2.5px;
  }
  #log-container .log .info-container .date-info {
    margin-top: 2.5px;
  }
}
.splide__pagination--ltr {
  padding: 0px;
}

.splide__pagination__page {
  border: 3px solid #855546;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background-color: transparent;
  padding: 0px;
  margin: 0px;
  margin-right: 2.5px;
}
.splide__pagination__page.is-active {
  background-color: #855546;
}

/* Background */
.bg, .content .highlight, .content code {
  color: #e0def4;
  background-color: #232136;
}

/* PreWrapper */
.chroma {
  color: #e0def4;
  background-color: #232136;
}

/* Other */
/* Error */
.chroma .err {
  color: #eb6f92;
}

/* CodeLine */
/* LineLink */
.chroma .lnlinks {
  outline: none;
  text-decoration: none;
  color: inherit;
}

/* LineTableTD */
.chroma .lntd {
  vertical-align: top;
  padding: 0;
  margin: 0;
  border: 0;
}

/* LineTable */
.chroma .lntable {
  border-spacing: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

/* LineHighlight */
.chroma .hl {
  background-color: #ffffcc;
}

/* LineNumbersTable */
.chroma .lnt {
  tab-size: 4;
  hite-space: pre;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #7f7f7f;
}

/* LineNumbers */
.chroma .ln {
  tab-size: 4;
  white-space: pre;
  -webkit-user-select: none;
  user-select: none;
  margin-right: 0.4em;
  padding: 0 0.4em 0 0.4em;
  color: #7f7f7f;
}

/* Line */
.chroma .line {
  display: flex;
}

/* Keyword */
.chroma .k {
  color: #3e8fb0;
}

/* KeywordConstant */
.chroma .kc {
  color: #3e8fb0;
}

/* KeywordDeclaration */
.chroma .kd {
  color: #3e8fb0;
}

/* KeywordNamespace */
.chroma .kn {
  color: #c4a7e7;
}

/* KeywordPseudo */
.chroma .kp {
  color: #3e8fb0;
}

/* KeywordReserved */
.chroma .kr {
  color: #3e8fb0;
}

/* KeywordType */
.chroma .kt {
  color: #3e8fb0;
}

/* Name */
.chroma .n {
  color: #ea9a97;
}

/* NameAttribute */
.chroma .na {
  color: #ea9a97;
}

/* NameBuiltin */
.chroma .nb {
  color: #ea9a97;
}

/* NameBuiltinPseudo */
.chroma .bp {
  color: #ea9a97;
}

/* NameClass */
.chroma .nc {
  color: #9ccfd8;
}

/* NameConstant */
.chroma .no {
  color: #f6c177;
}

/* NameDecorator */
.chroma .nd {
  color: #908caa;
}

/* NameEntity */
.chroma .ni {
  color: #ea9a97;
}

/* NameException */
.chroma .ne {
  color: #3e8fb0;
}

/* NameFunction */
.chroma .nf {
  color: #ea9a97;
}

/* NameFunctionMagic */
.chroma .fm {
  color: #ea9a97;
}

/* NameLabel */
.chroma .nl {
  color: #ea9a97;
}

/* NameNamespace */
.chroma .nn {
  color: #ea9a97;
}

/* NameOther */
/* NameProperty */
.chroma .py {
  color: #ea9a97;
}

/* NameTag */
.chroma .nt {
  color: #ea9a97;
}

/* NameVariable */
.chroma .nv {
  color: #ea9a97;
}

/* NameVariableClass */
.chroma .vc {
  color: #ea9a97;
}

/* NameVariableGlobal */
.chroma .vg {
  color: #ea9a97;
}

/* NameVariableInstance */
.chroma .vi {
  color: #ea9a97;
}

/* NameVariableMagic */
.chroma .vm {
  color: #ea9a97;
}

/* Literal */
.chroma .l {
  color: #f6c177;
}

/* LiteralDate */
.chroma .ld {
  color: #f6c177;
}

/* LiteralString */
.chroma .s {
  color: #f6c177;
}

/* LiteralStringAffix */
.chroma .sa {
  color: #f6c177;
}

/* LiteralStringBacktick */
.chroma .sb {
  color: #f6c177;
}

/* LiteralStringChar */
.chroma .sc {
  color: #f6c177;
}

/* LiteralStringDelimiter */
.chroma .dl {
  color: #f6c177;
}

/* LiteralStringDoc */
.chroma .sd {
  color: #f6c177;
}

/* LiteralStringDouble */
.chroma .s2 {
  color: #f6c177;
}

/* LiteralStringEscape */
.chroma .se {
  color: #3e8fb0;
}

/* LiteralStringHeredoc */
.chroma .sh {
  color: #f6c177;
}

/* LiteralStringInterpol */
.chroma .si {
  color: #f6c177;
}

/* LiteralStringOther */
.chroma .sx {
  color: #f6c177;
}

/* LiteralStringRegex */
.chroma .sr {
  color: #f6c177;
}

/* LiteralStringSingle */
.chroma .s1 {
  color: #f6c177;
}

/* LiteralStringSymbol */
.chroma .ss {
  color: #f6c177;
}

/* LiteralNumber */
.chroma .m {
  color: #f6c177;
}

/* LiteralNumberBin */
.chroma .mb {
  color: #f6c177;
}

/* LiteralNumberFloat */
.chroma .mf {
  color: #f6c177;
}

/* LiteralNumberHex */
.chroma .mh {
  color: #f6c177;
}

/* LiteralNumberInteger */
.chroma .mi {
  color: #f6c177;
}

/* LiteralNumberIntegerLong */
.chroma .il {
  color: #f6c177;
}

/* LiteralNumberOct */
.chroma .mo {
  color: #f6c177;
}

/* Operator */
.chroma .o {
  color: #908caa;
}

/* OperatorWord */
.chroma .ow {
  color: #908caa;
}

/* Punctuation */
.chroma .p {
  color: #908caa;
}

/* Comment */
.chroma .c {
  color: #6e6a86;
}

/* CommentHashbang */
.chroma .ch {
  color: #6e6a86;
}

/* CommentMultiline */
.chroma .cm {
  color: #6e6a86;
}

/* CommentSingle */
.chroma .c1 {
  color: #6e6a86;
}

/* CommentSpecial */
.chroma .cs {
  color: #6e6a86;
}

/* CommentPreproc */
.chroma .cp {
  color: #6e6a86;
}

/* CommentPreprocFile */
.chroma .cpf {
  color: #6e6a86;
}

/* Generic */
/* GenericDeleted */
.chroma .gd {
  color: #eb6f92;
}

/* GenericEmph */
.chroma .ge {
  font-style: italic;
}

/* GenericError */
/* GenericHeading */
/* GenericInserted */
.chroma .gi {
  color: #9ccfd8;
}

/* GenericOutput */
/* GenericPrompt */
/* GenericStrong */
.chroma .gs {
  font-weight: bold;
}

/* GenericSubheading */
.chroma .gu {
  color: #c4a7e7;
}

/* GenericTraceback */
/* GenericUnderline */
/* TextWhitespace */
.content {
  max-width: 100%;
  min-width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  line-height: 1.58;
  color: black;
  margin-bottom: 75px;
  word-break: keep-all;
}
.content * {
  line-height: 1.4;
  margin: 0px;
}
.content h1 {
  font-family: "Open Sans", sans-serif;
  margin-top: 38px;
  margin-bottom: 23.75px;
}
.content h2 {
  font-family: "Open Sans", sans-serif;
  margin-top: 30.875px;
  margin-bottom: 19.2969px;
}
.content h3 {
  font-family: "Open Sans", sans-serif;
  margin-top: 26.125px;
  margin-bottom: 16.3281px;
}
.content h4 {
  font-family: "Open Sans", sans-serif;
  margin-top: 21.375px;
  margin-bottom: 13.35px;
}
.content p {
  font-size: 1.3rem;
  margin-bottom: 20px;
  line-height: 1.58;
}
.content a {
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  line-height: 0.95;
  color: #855546;
  font-size: 1.3rem;
}
.content li {
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.content ol > li::marker {
  font-weight: bold;
}
.content img {
  width: 100%;
}
.content iframe {
  width: 100%;
  border-radius: 8px;
}
.content iframe:first-child {
  margin-top: 0px;
}
.content .image-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}
.content figure {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin: 29px 0px;
}
.content figure:first-child {
  margin-top: 0px;
}
.content figure figcaption {
  text-align: center;
  color: red;
  width: 100%;
  margin-top: 10px;
  display: inline;
  font-size: 16px;
  font-family: "Lora", serif;
  color: #231c1a;
}
.content blockquote {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  width: 100vw;
  align-self: center;
  background-color: #c3ac95;
  padding: 25px;
}
.content blockquote ::before {
  display: block;
  position: relative;
  font-size: 80px;
  font-weight: 700;
  font-style: italic;
  font-family: "Lora", serif;
  line-height: 0;
  content: "“";
  left: -54px;
  top: 30px;
}
.content blockquote p {
  width: 750px;
  margin: 0px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
}
.content .highlight {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  align-self: center;
  width: 100vw;
  margin: 29px 0px;
}
.content code {
  font-size: 1.3rem;
  padding: 3px;
  border-radius: 8px;
  box-sizing: border-box;
}
.content pre {
  align-self: center;
  overflow-x: auto;
  overflow-y: hidden;
  width: min-content;
  padding: 20px;
  box-sizing: border-box;
}

@media screen and (max-width: 850px) {
  .katex-display {
    overflow-x: scroll;
    overflow-y: clip;
  }
}
.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  column-gap: 20px;
}
.pagination a {
  font-family: "Lora", serif;
  font-weight: 600;
  font-size: 1rem;
}
.pagination .pagination__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 1.75rem;
  height: 1.75rem;
  border: 3px solid #c3ac95;
  border-radius: 20px;
}
.pagination .first {
  border: none;
}
.pagination .last {
  border: none;
  transform: rotate(270deg);
}
.pagination .previous {
  border: none;
}
.pagination .next {
  border: none;
  color: #c3ac95;
  transform: rotate(270deg);
}
.pagination .current {
  border: none;
  background-color: #855546;
  color: white;
  width: 2rem;
  height: 2rem;
}
.pagination .pagination__link span {
  display: flex;
  align-content: center;
  height: min-content;
  width: min-content;
}
.pagination .pagination__link span path {
  fill: hsl(20, 11%, 45%);
}
#content {
  height: 100%;
  overflow: hidden;
  width: 100vw;
}

html {
  color: black;
  line-height: 1.5;
  font-family: "Lora";
  overflow-x: hidden;
}

body {
  background-color: #d7c9bb;
  margin: 0 auto;
  height: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  padding: 20px;
  background-color: #d7c9bb;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 1200px;
  width: 100%;
}
.navbar a {
  text-decoration: none;
  color: black;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}
.navbar #face-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.navbar #face-icon img {
  margin-right: 10px;
  width: 4rem;
  height: 4rem;
}
.navbar #name {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  align-self: center;
  margin: 0px;
  font-size: 2rem;
  line-height: 1;
}
.navbar #name #subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  margin: 0px;
}
.navbar #right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  align-self: center;
  width: 175px;
}
.navbar #right a {
  margin: 0px;
  padding: 0px;
  font-size: 1.5rem;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

.link-style {
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  line-height: 0.95;
  color: #855546;
}

.hover {
  border-radius: 10px;
  background-color: inherit;
  transition: all 0.4s;
  box-shadow: none;
}

.hover:hover {
  background-color: #c3ac95;
  box-shadow: 0px 5px 0px 0px #855546;
}

@keyframes fadeIn {
  from {
    background-color: #d7c9bb;
  }
  to {
    background-color: #c3ac95;
  }
}
.image-container {
  background-color: #c3ac95;
  border-radius: 8px;
  animation: fadeIn 1s infinite alternate;
}
.image-container img.batch-load {
  display: block;
  margin: 0px;
  opacity: 0;
  transition: opacity 0.6s;
  background-color: transparent;
  border-radius: 8px;
  box-sizing: border-box;
}

.tag {
  background-color: hsl(20, 11%, 45%);
  border-radius: 15px;
  padding: 3px 10px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 4px;
  font-weight: normal;
}

.star-icon {
  display: inline-block;
  max-height: 1.5rem;
  max-width: 1.5rem;
}

@media screen and (max-width: 950px) {
  .navbar {
    max-width: 100%;
    justify-content: space-between;
  }
}
@media screen and (max-width: 450px) {
  html {
    font-size: 11px;
  }
}