@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Open+Sans:wght@300;400;600;700&display=swap");
.landing-layout {
  height: 100%;
  width: 100%;
}

#portrait {
  height: 100vh;
  transform: scaleY(-1);
  position: absolute;
  top: -50px;
  right: -150px;
}

#gradient {
  background-image: linear-gradient(#d2f9fe, #8bbaef, #457ce0);
  width: 100%;
  position: fixed;
  bottom: 0px;
  height: 25vh;
  z-index: -1;
}

#welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  position: absolute;
  left: 60px;
  height: 100vh;
}
#welcome-container .navbar {
  position: absolute;
  top: 30px;
  display: block;
  margin-bottom: 50px;
}
#welcome-container .navbar a {
  font-family: "Open Sans", sans-serif;
  color: #352a26;
  font-weight: 600;
  font-size: 35px;
  text-decoration: none;
}
#welcome-container .navbar .left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
}
#welcome-container .navbar .left a {
  margin-right: 115px;
}
#welcome-container #welcome {
  width: 600px;
}
#welcome-container #welcome h3 {
  margin-top: 0px;
  font-family: "Open Sans", sans-serif;
  color: #352a26;
  font-size: 1.5rem;
  font-weight: normal;
}
#welcome-container #welcome h1 {
  margin: 0px;
  font-family: "Lora", serif;
  font-size: 4rem;
  color: #352a26;
}

@media screen and (max-width: 1400px) {
  .landing-layout {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    height: 100%;
  }
  #welcome-container {
    position: unset;
    display: block;
    height: fit-content;
    margin: 20px 40px;
  }
  #welcome-container .navbar {
    position: unset;
    display: block;
  }
  #welcome-container .navbar .left {
    width: 100%;
    justify-content: space-around;
  }
  #welcome-container .navbar .left a {
    margin: 0px;
  }
  #welcome-container #welcome {
    width: 100%;
  }
  #portrait {
    position: sticky;
    display: block;
    width: 100vw;
    height: fit-content;
  }
  #gradient {
    position: relative;
    bottom: 92vw;
    height: 150vh;
  }
}
.post {
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  padding: 12.5px;
}
.post .date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  margin-top: 2px;
}
.post .date p {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #352a26;
}
.post h4 {
  margin: 0px;
  margin-top: 5px;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.3;
  color: #352a26;
}
.post h3, .post h1 {
  margin: 0px;
  font-family: "Lora", serif;
  font-size: 27px;
  font-weight: bold;
  line-height: 1.1;
  color: #352a26;
}

.blog-tag {
  background-color: #494949;
  border-radius: 20px;
  padding: 5px 10px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: 400;
  display: inline-block;
}

.blog-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}

.post-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(400px, 1fr));
  column-gap: 30px;
  grid-auto-rows: min-content; /* OR min-content*/
  justify-self: center;
  max-width: 1000px;
  max-height: inherit;
  margin-top: 15px;
}
.post-container .top {
  width: 100%;
  height: min-content;
  margin-bottom: 10px;
}
.post-container .top img {
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.post-container .featured-container {
  height: fit-content;
}
.post-container .list-container {
  margin-top: 10px;
  width: 100%;
  overflow: auto;
  box-sizing: border-box;
  border-radius: 0px;
  background-color: #d7c9bb;
}

.blog-pagination {
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (max-width: 1000px) {
  .post-container {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
  .post-list {
    margin-top: 50px;
  }
}
/* custom scrollbar */
::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: black;
  border: 4px solid transparent;
  background-clip: content-box;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: black;
}

.single-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  width: 100%;
}

.post-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  width: 750px;
  padding: 0px 20px;
  box-sizing: border-box;
}
.post-page #post-head {
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  padding: 12.5px;
  width: 750px;
}
.post-page #post-head .date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  margin-top: 2px;
}
.post-page #post-head .date p {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1.4rem;
  color: #352a26;
}
.post-page #post-head h4 {
  margin: 0px;
  margin-top: 5px;
  font-size: 1.4rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.3;
  color: #352a26;
}
.post-page #post-head h3, .post-page #post-head h1 {
  margin: 0px;
  font-family: "Lora", serif;
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 1.1;
  color: #352a26;
}
.post-page .post-img {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  min-width: 675px;
  margin-top: 30px;
  border-radius: 5px;
}

@media screen and (max-width: 750px) {
  .post-page {
    width: 100%;
  }
  .post-page #post-head {
    width: 100%;
  }
}
#journey-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  width: 100%;
}
#journey-container #journeys-multiple {
  display: grid;
  grid-template-columns: minmax(300px, 1.4fr) minmax(300px, 1fr);
  column-gap: 20px;
  justify-self: center;
  max-width: 1100px;
  height: fit-content;
}
#journey-container #journeys-multiple #project-col {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  height: 100%;
}
#journey-container #journeys-multiple #log-col {
  position: sticky;
  right: 0;
}

.project-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  padding: 15px;
  margin-bottom: 10px;
  height: fit-content;
}
.project-card .left {
  padding-right: 15px;
  padding-left: 10px;
}
.project-card .right {
  height: 175px;
}
.project-card .journey-img {
  height: 100%;
  aspect-ratio: 6/5;
  border-radius: 5px;
  object-fit: cover;
}
.project-card h3 {
  font-size: 1.7rem;
  font-family: "Lora", serif;
  font-weight: bold;
  margin: 0px;
  color: #352a26;
}
.project-card h3 span {
  height: 30px;
  position: relative;
  top: 3px;
  right: -6.5px;
}
.project-card h4 {
  font-size: 1.1rem;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  margin: 0px;
  margin-bottom: 10px;
}

@media screen and (max-width: 900px) {
  #journey-container #journeys-multiple {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
  .project-card {
    padding: 10px 0px;
  }
}
@media screen and (max-width: 400px) {
  .right {
    width: 40%;
  }
  .left {
    padding-left: 10px;
    padding-right: 0px;
  }
}
#journey-single-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  box-sizing: border-box;
}

#journey-single-grid {
  display: grid;
  grid-template-columns: minmax(300px, 1.4fr) minmax(300px, 1fr);
  column-gap: 20px;
  justify-self: center;
  max-width: 100vw;
  column-gap: 40px;
  padding-bottom: 50px;
}

#description-col {
  max-width: 750px;
}
#description-col img {
  height: 450px;
  object-fit: cover;
  border-radius: 5px;
}

#summary-container {
  width: 450px;
}
#summary-container #title {
  margin: 0px;
  line-height: 1;
  font-size: 2.5rem;
}
#summary-container #title .star-icon {
  margin-left: 10px;
  max-width: 2rem;
  max-height: 2rem;
}
#summary-container #date {
  margin: 0px;
  line-height: 1;
  font-size: 1.5rem;
  font-weight: 200;
  font-family: "Lora", serif;
}
#summary-container p {
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  margin: 10px 0px;
}
#summary-container #inducted {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 10px;
}
#summary-container #inducted div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
}
#summary-container #inducted div span {
  height: 2rem;
  margin-left: 5px;
}
#summary-container #status {
  font-size: 1.5rem;
}
#summary-container #links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  row-gap: 15px;
  margin-bottom: 25px;
}
#summary-container #links a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  column-gap: 10px;
}

@media screen and (max-width: 1185px) {
  #journey-single-container #journey-single-grid {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
  /* Flip the order of the elements in the grid for vertical layout*/
  #description-col {
    order: 2;
  }
  #description-col img {
    height: fit-content;
    width: 100%;
  }
  #summary-container {
    order: 1;
    width: 750px;
  }
  #summary-container #inducted {
    margin: 0px;
  }
  .project-card {
    padding: 10px 0px;
  }
}
@media screen and (max-width: 750px) {
  #journey-single-container {
    margin: 0px 10px;
  }
  #summary-container {
    width: 100%;
  }
  #summary-container #links {
    flex-direction: row;
    justify-content: center;
    column-gap: 20px;
  }
  .project-card {
    padding: 10px 0px;
  }
}
#log-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  border-radius: 10px;
}
#log-container h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 600px;
  color: #352a26;
  margin: 0px;
}
#log-container .log {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  padding: 15px;
  margin-bottom: 10px;
}
#log-container .log h3 {
  width: 100%;
  margin: 0px;
  margin-bottom: 10px;
  line-height: 1;
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  color: #352a26;
  font-weight: 400;
}
#log-container .log span {
  font-size: 2rem;
  line-height: 0.75;
  font-family: "Open Sans", sans-serif;
  color: #855546;
  font-weight: 800;
}
#log-container .log h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  color: #352a26;
  line-height: 1.3;
  margin: 0px;
  font-weight: 300;
  margin: 0px;
}
#log-container .log .info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  margin-left: 10px;
  width: 100%;
}
#log-container .log .date-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  margin-top: 10px;
  font-size: 1rem;
}

@media screen and (max-width: 400px) {
  #log-container {
    padding: 2.5px;
  }
  #log-container .log {
    padding: 5px;
    margin-bottom: 5px;
  }
  #log-container .log .info-container h3 {
    margin-bottom: 2.5px;
  }
  #log-container .log .info-container .date-info {
    margin-top: 2.5px;
  }
}
.splide__slide figure {
  width: 100%;
  border-radius: 5px;
  height: min-content;
  object-fit: cover;
  justify-content: flex-end;
}

.splide__pagination--ltr {
  padding: 0px;
}

.splide__pagination__page {
  border: 3px solid #855546;
  width: 15px;
  height: 15px;
  border-radius: 10px;
  background-color: transparent;
  padding: 0px;
  margin: 0px;
  margin-right: 2.5px;
}
.splide__pagination__page.is-active {
  background-color: #855546;
}

.content {
  max-width: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  color: #352a26;
  margin-bottom: 75px;
  word-break: keep-all;
}
.content * {
  line-height: 1.4;
  margin: 0px;
}
.content h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
}
.content h2 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.5rem;
}
.content h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.25rem;
}
.content h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
}
.content p {
  font-size: 1.3rem;
  line-height: 1.58;
}
.content h1 + h2 {
  margin-top: 31px;
}
.content p + h3, .content ol + h3, .content ul + h3 {
  margin-top: 20px;
}
.content p + h2, .content ol + h2, .content ul + h2 {
  margin-top: 30px;
}
.content p + h1, .content ol + h1, .content ul + h1 {
  margin-top: 56px;
}
.content p + p, .content ol + p, .content ul + p {
  margin-top: 29px;
}
.content p + ol, .content p + ul {
  margin-top: 5px;
}
.content a {
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  line-height: 0.95;
  color: #855546;
  font-size: 1.3rem;
}
.content li {
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.content ol > li::marker {
  font-weight: bold;
}
.content img {
  width: 100%;
  border-radius: 5px;
}
.content iframe {
  border-radius: 5px;
}
.content .image-container {
  width: 100%;
}
.content figure {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0px;
}
.content figure figcaption {
  text-align: center;
  color: red;
  width: 100%;
  margin-top: 10px;
  display: inline;
  font-size: 16px;
  font-family: "Lora", serif;
  color: #231c1a;
}
.content blockquote ::before {
  display: block;
  position: relative;
  font-size: 80px;
  font-weight: 700;
  font-style: italic;
  font-family: "Lora", serif;
  line-height: 0;
  content: "“";
  left: -54px;
  top: 30px;
}
.content blockquote p {
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
}
.content code {
  font-size: 1.3rem;
  background-color: aliceblue;
  padding: 3px;
  border-radius: 5px;
}
.content pre {
  border-radius: 5px;
  padding: 0px 20px;
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  box-sizing: border-box;
  transition: width ease-in 0.2s;
}
.content pre code {
  background-color: inherit;
}
.content pre:hover {
  width: 900px;
}

@media screen and (max-width: 850px) {
  .katex-display {
    overflow-x: scroll;
    overflow-y: clip;
  }
}
.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  column-gap: 20px;
}
.pagination a {
  font-family: "Lora", serif;
  font-weight: 600;
  font-size: 1rem;
}
.pagination .pagination__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 1.75rem;
  height: 1.75rem;
  border: 3px solid #c3ac95;
  border-radius: 20px;
}
.pagination .first {
  border: none;
}
.pagination .last {
  border: none;
  transform: rotate(270deg);
}
.pagination .previous {
  border: none;
}
.pagination .next {
  border: none;
  color: #c3ac95;
  transform: rotate(270deg);
}
.pagination .current {
  border: none;
  background-color: #855546;
  color: white;
  width: 2rem;
  height: 2rem;
}
.pagination .pagination__link span {
  display: flex;
  align-content: center;
  height: min-content;
  width: min-content;
}
.pagination .pagination__link span path {
  fill: hsl(20, 11%, 45%);
}
#content {
  height: 100%;
  overflow: hidden;
  width: 100vw;
}

html {
  color: #352a26;
  line-height: 1.5;
  font-family: "Lora";
  overflow-x: hidden;
}

body {
  background-color: #d7c9bb;
  margin: 0 auto;
  height: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  flex-wrap: nowrap;
  padding: 20px;
  background-color: #d7c9bb;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  max-width: 1200px;
  width: 100%;
}
.navbar a {
  text-decoration: none;
  color: #352a26;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 2rem;
}
.navbar #left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: nowrap;
  align-self: center;
  margin: 0px;
  font-size: 2rem;
  line-height: 1;
}
.navbar #left #subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 2rem;
  margin: 0px;
}
.navbar #right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  align-self: center;
  width: 175px;
}
.navbar #right a {
  margin: 0px;
  padding: 0px;
  font-size: 1.5rem;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

.link-style {
  font-size: 1.2rem;
  font-family: "Open Sans", sans-serif;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  line-height: 0.95;
  color: #855546;
}

.hover {
  border-radius: 10px;
  background-color: #d7c9bb;
  transition: all 0.4s;
  box-shadow: none;
}

.hover:hover {
  background-color: #c3ac95;
  box-shadow: 0px 5px 0px 0px #855546;
}

@keyframes fadeIn {
  from {
    background-color: #d7c9bb;
  }
  to {
    background-color: #c3ac95;
  }
}
.image-container {
  background-color: #c3ac95;
  border-radius: 5px;
  animation: fadeIn 1s infinite alternate;
}
.image-container img.batch-load {
  display: block;
  margin: 0px;
  opacity: 0;
  transition: opacity 0.4s;
  background-color: transparent;
}

.tag {
  background-color: #494949;
  border-radius: 15px;
  padding: 3px 8px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 0.8rem;
  font-style: 400;
  display: inline-block;
  margin-bottom: 1px;
  font-weight: bold;
}

.star-icon {
  display: inline-block;
  max-height: 1.5rem;
  max-width: 1.5rem;
}

@media screen and (max-width: 950px) {
  .navbar {
    max-width: 100%;
    justify-content: space-between;
  }
}
@media screen and (max-width: 450px) {
  html {
    font-size: 11px;
  }
}